@font-face
	font-family 'EncodeSansExpanded-Regular'
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Regular.eot')
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Regular.woff') format('woff'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Regular.ttf') format('truetype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Regular.svg#EncodeSansExpanded-Regular') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'EncodeSansExpanded-Thin'
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Thin.eot')
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Thin.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Thin.woff') format('woff'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Thin.ttf') format('truetype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Thin.svg#EncodeSansExpanded-Thin') format('svg')
	font-weight 100
	font-style normal

@font-face
	font-family 'EncodeSansExpanded-ExtraLight'
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-ExtraLight.eot')
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-ExtraLight.woff') format('woff'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-ExtraLight.ttf') format('truetype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-ExtraLight.svg#EncodeSansExpanded-ExtraLight') format('svg')
	font-weight 200
	font-style normal

@font-face
	font-family 'EncodeSansExpanded-Light'
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Light.eot')
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Light.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Light.woff') format('woff'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Light.ttf') format('truetype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Light.svg#EncodeSansExpanded-Light') format('svg')
	font-weight 300
	font-style normal

@font-face
	font-family 'EncodeSansExpanded-Medium'
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Medium.eot')
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Medium.woff') format('woff'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Medium.ttf') format('truetype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Medium.svg#EncodeSansExpanded-Medium') format('svg')
	font-weight 500
	font-style normal

@font-face
	font-family 'EncodeSansExpanded-SemiBold'
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-SemiBold.eot')
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-SemiBold.woff') format('woff'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-SemiBold.ttf') format('truetype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-SemiBold.svg#EncodeSansExpanded-SemiBold') format('svg')
	font-weight 600
	font-style normal

@font-face
	font-family 'EncodeSansExpanded-ExtraBold'
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-ExtraBold.eot')
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-ExtraBold.woff') format('woff'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-ExtraBold.ttf') format('truetype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-ExtraBold.svg#EncodeSansExpanded-ExtraBold') format('svg')
	font-weight 800
	font-style normal

@font-face
	font-family 'EncodeSansExpanded-Black'
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Black.eot')
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Black.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Black.woff') format('woff'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Black.ttf') format('truetype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Black.svg#EncodeSansExpanded-Black') format('svg')
	font-weight 900
	font-style normal


@font-face
	font-family 'EncodeSansExpanded-Bold'
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Bold.eot')
	src url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Bold.woff') format('woff'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Bold.ttf') format('truetype'),
		url('../../assets/fonts/Encode-sans/EncodeSansExpanded-Bold.svg#EncodeSansExpanded-Bold') format('svg')
	font-weight bold
	font-style normal